<!DOCTYPE HTML>
		<html>
		<head>
			<title>CS410 Thread Visualizer</title>
			<link href="bootstrap.css" rel="stylesheet">
			<link href="style.css" rel="stylesheet">
		</head>
		<body>
			<div class="container shadow"><div id="header" class="row btm-border">
			<h4>Program Name</h4>
		</div><div class="row">			
		<!-- Image Section -->
		<div id="view" class="col-md-8">
			<img src="../img/output001.png" alt="">
		</div><!-- View Section -->
		<div id="control" class="col-md-4">
			<div id="frame-select" class="row btm-border">
				<ul>
					<li class="active"><a href="#output001.png" onclick="ChangeView(this)">1. pthread_create</a></li>
					<li><a href="#output002.png" onclick="ChangeView(this);">2. lock</a></li>
					<li><a href="#output003.png" onclick="ChangeView(this);">3. pthread_create</a></li>
					<li><a href="#output004.png" onclick="ChangeView(this);">4. update</a></li>
				</ul>
			</div><div id="details" class="row btm-border">
		<table>
			<tr>
				<th>Method</th><td>pthread_create</td>
			</tr>
			<tr>
				<th>File</th><td>main.c</td>
			</tr>
			<tr>
				<th>Line</th><td>128</td>
			</tr>
			<tr>
				<th>Thread ID</th><td>Thread2</td>
			</tr>
			<tr>
				<th>Parent ID</th><td>Thread1</td>
			</tr>
		</table>
	</div><div id="btn-nav" class="row">
						<div class="btn-grp">
							<img class="btn-left" onclick="StepFrame('back');"src="step-backward.svg" alt=""/>
							<img class="btn-stop" onclick="Timer('stop');" src="stop.svg" alt=""/>
							<img class="btn-play" onclick="Timer('start');" src="play.svg" alt=""/>
							<img class="btn-right" onclick="StepFrame('next');"src="step-forward.svg" alt=""/>
						</div>
					</div>
				</div>

			</div>
		</div><script src="main.js"></script>
		</body>
		</html>